.catalog {
  //border: $border;
  display: flex;
  flex-direction: column;
    &__wrapper {
      //border: $border;
      display: flex;
      flex-direction: column;
    }
    &__describe {
      border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
        span {
          //font-weight: bold;
          font-family: Montserrat-Regular;
          font-size: 1.7rem;
        }
    }

    &__catalogblock {
      border: $border;
      display: flex;
      justify-content: center;
    }
    &__catalogwrapper {
      border: $border;
      display: flex;
      width: 65%;
      height: 300px;
    }
    &__catalogfilter {
      border: $border;
      display: flex;
      width: 25%;
    }
    &__catalogcontent {
      border: $border;
      display: flex;
      width: 75%;
    }


}