.productsingle {
  //border: $border;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
    &__wrapper {
      //border: $border;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &__product {
      //border: $border;
      display: flex;
      align-self: center;
      width: 65%;
      margin: 70px 0 70px 0;
    }
    &__pictblock {
      border: 2px solid $colorlightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
        img {
          width: 100%;
          height: auto;
        }
    }
    &__describe {
      //border: $border;
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-left: 25px;
      font-family: Montserrat-Regular;
        h3 {
          //border: $border;
          text-align: center;
          font-size: 1.4rem;
          margin-bottom: 70px;
        }
        span {
          //border: $border;
          font-size: 1.2rem;
          margin-bottom: 5px;
        }
    }

    &__footer {
      //border: $border;
      align-self: flex-end;
      width: 100%;
    }

}



