@import "var.scss";
@import "fonts.scss";


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
}


.homepage {
  border: $border;
  display: flex;
  flex-direction: column;
  //height: 100vh;
    &__wrapper {
      border: $border;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__slider {
      border: $border;
      display: flex;
      flex-direction: column;
      height: 640px;
      width: 100%;
      background-image: url("/public/assets/userssources/img/slider2.jpg");
      background-size: 100%;
    }
    &__navbar {
      //border: $border;
      display: flex;
      justify-content: center;
      height: 80px;
    }
    &__navbarmenu {
      border: $border;
      display: flex;
      width: 65%;
    }
    &__navbarlogo {
      border: $border;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 25%;
        img {
          height: 80%;
        }
    }
    &__navbarlinks {
      border: $border;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 50%;
        a {
          color: white;
          text-decoration: none;
          font-family: Montserrat-Regular;
          font-weight: bold;
          transition: $transition;
            &:hover {
              border-bottom: 2px solid white;
              transition: $transition;
            }
        }
    }
    &__navbaraccount {
      border: $border;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 25%;
      a {
        color: white;
        text-decoration: none;
        font-family: Montserrat-Regular;
        font-weight: bold;
        padding: 0 2px;
        transition: $transition;
          &:hover {
            border-bottom: 2px solid white;
            transition: $transition;
          }
      }
    }

    &__selection {
      border: $border;
      display: flex;
      justify-content: center;
      height: 370px;
      width: 100%;
      margin-top: 40px;
    }
    &__selectwrapper {
      border: $border;
      display: flex;
      width: 80%;
    }
    &__menrings {

    }

}