@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/assets/fonts/Montserrat-Regular.ttf");
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__describe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.catalog__describe span {
  font-family: Montserrat-Regular;
  font-size: 1.7rem;
}

.catalog__search {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  height: 50px;
  width: 65%;
  margin-bottom: 5px;
}

.catalog__searchform {
  display: flex;
  width: 75%;
}

.catalog__searchform input {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: none;
  width: 100%;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  font-style: italic;
  padding-left: 10px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.catalog__searchform button {
  border: 1px solid black;
  width: 100px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.catalog__searchform button i {
  font-size: 1.3rem;
}

.catalog__catalogblock {
  display: flex;
  justify-content: center;
}

.catalog__catalogwrapper {
  display: flex;
  width: 65%;
}

.catalog__catalogfilter {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.catalog__filterdefault {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #f5f5f5;
  font-family: Montserrat-Regular;
  border-bottom: 1px solid #f5f5f5;
}

.catalog__filterdefault span {
  font-weight: bold;
  font-size: 1.2rem;
}

.catalog__filterdefault a {
  text-decoration: none;
}

.catalog__filterdefault a:hover {
  text-decoration: underline;
}

.catalog__separate {
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  margin: 10px 0;
}

.catalog__formfilter {
  display: flex;
  flex-direction: column;
}

.catalog__filtercategory {
  display: flex;
  flex-direction: column;
}

.catalog__filtercategory span {
  padding-left: 10px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 1.1rem;
}

.catalog__onegoods {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.catalog__onegoods label {
  font-size: 1rem;
  font-family: Montserrat-Regular;
  padding-left: 5px;
}

.catalog__onegoods input {
  width: 17px;
  height: 17px;
}

.catalog__filtermaterial {
  display: flex;
  flex-direction: column;
}

.catalog__filtermaterial span {
  padding-left: 10px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 1.1rem;
}

.catalog__filterstones {
  display: flex;
  flex-direction: column;
}

.catalog__filterstones span {
  padding-left: 10px;
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 1.1rem;
}

.catalog__showfilter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 40px;
  width: 80%;
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  font-weight: bold;
  margin-bottom: 25px;
}

.catalog__catalogcontent {
  border: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 75%;
}

.catalog__footer {
  display: flex;
  justify-content: center;
  font-family: Montserrat-Regular;
  margin-bottom: 50px;
}

.catalog__footer ul {
  display: flex;
  flex-direction: row;
}

.catalog__footer ul li {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 2px 0 2px;
}

.catalog__footer ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: black;
  font-weight: bolder;
}

.catalog__footer ul li a {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: gray;
  background-color: #f5f5f5;
}

.productsingle {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.productsingle__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productsingle__product {
  display: flex;
  align-self: center;
  width: 65%;
  margin: 70px 0 70px 0;
}

.productsingle__pictblock {
  border: 2px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.productsingle__pictblock img {
  width: 100%;
  height: auto;
}

.productsingle__describe {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25px;
  font-family: Montserrat-Regular;
}

.productsingle__describe h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 70px;
}

.productsingle__describe span {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.productsingle__footer {
  align-self: flex-end;
  width: 100%;
}

.price {
  display: flex;
  flex-direction: column;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.price__content {
  display: flex;
  align-self: center;
  height: 80%;
  width: 65%;
  margin: 70px 0 70px 0;
}

.price__productprice {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.price__productprice h3 {
  font-size: 2.3rem;
  height: 50px;
  text-align: center;
  font-family: Montserrat-Regular;
}

.price__roznica {
  border: 2px solid #f5f5f5;
  display: flex;
  width: 90%;
  margin-top: 50px;
}

.price__roznicapict {
  display: flex;
  width: 400px;
  height: 400px;
}

.price__roznicainfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.price__roznicainfo span {
  font-size: 1.7rem;
  font-family: Montserrat-Regular;
  text-align: center;
  margin-bottom: 10px;
}

.price__roznicainfo span:nth-child(1) {
  font-weight: bold;
}

.price__roznicainfo span:nth-child(2) {
  margin-bottom: 60px;
}

.price__roznicainfo span:nth-child(3) {
  font-weight: bold;
}

.price__opt {
  border: 2px solid #f5f5f5;
  display: flex;
  width: 90%;
  margin: 50px 0 50px 0;
}

.price__optpict {
  display: flex;
  width: 400px;
  height: 400px;
}

.price__optinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.price__optinfo span {
  font-size: 1.7rem;
  font-family: Montserrat-Regular;
}

.price__optinfo span:nth-child(1) {
  font-weight: bold;
  margin-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contacts__content {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 80%;
  width: 65%;
  margin: 70px 0 70px 0;
}

.contacts__contblock {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.contacts__contblock h3 {
  font-size: 2.3rem;
  height: 50px;
  text-align: center;
  font-family: Montserrat-Regular;
}

.contacts__conts {
  border: 2px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 50px;
}

.contacts__conts span {
  text-align: center;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  margin-top: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.about__content {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 80%;
  width: 65%;
  margin: 70px 0 70px 0;
}

.about__contblock {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}

.about__contblock h3 {
  font-size: 2.3rem;
  height: 50px;
  text-align: center;
  font-family: Montserrat-Regular;
}

.about__conts {
  border: 2px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 50px;
}

.about__conts span {
  text-align: justify;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  margin-top: 25px;
  padding: 15px;
}

.shops {
  display: flex;
  flex-direction: column;
}

.shops__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.shops__content {
  display: flex;
  align-self: center;
  height: 80%;
  width: 65%;
  margin: 70px 0 70px 0;
}

.shops__prod {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shops__prod h3 {
  font-size: 2.3rem;
  height: 50px;
  text-align: center;
  font-family: Montserrat-Regular;
}

.shops__citys {
  display: flex;
  margin-top: 50px;
}

.shops__citys span {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: Montserrat-Regular;
  text-decoration: underline;
}

.shops__magaz {
  border: 2px solid #f5f5f5;
  display: flex;
  width: 90%;
  margin-top: 50px;
}

.shops__magazblock {
  display: flex;
  width: 500px;
  height: 500px;
}

.shops__magazinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.shops__magazinfo span {
  font-size: 1.7rem;
  font-family: Montserrat-Regular;
  text-align: center;
  margin-bottom: 10px;
}

.shops__magazinfo span:nth-child(1) {
  font-weight: bold;
}

.shops__magazinfo span:nth-child(2) {
  margin-bottom: 60px;
}

.shops__magazinfo span:nth-child(3) {
  font-weight: bold;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage__slider {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 100%;
  background-image: url("/public/assets/userssources/img/slider/03.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.homepage__navbar {
  display: flex;
  justify-content: center;
  height: 80px;
  box-shadow: 0 100px 30px -6px rgba(34, 60, 80, 0.2) inset;
}

.homepage__navbarmenu {
  display: flex;
  width: 65%;
}

.homepage__navbarmenu__xxl-block {
  background-color: green;
  width: 500px;
}

.homepage__navbarlogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 20%;
}

.homepage__navbarlogo a {
  display: flex;
  align-items: center;
  height: 100%;
}

.homepage__navbarlogo a img {
  height: 70%;
}

.homepage__navbarlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
}

.homepage__navbarlinks a {
  color: white;
  text-decoration: none;
  font-family: Montserrat-Regular;
  font-weight: bold;
  transition: ease-in-out 0.1s;
  color: #C36F54;
}

.homepage__navbarlinks a:hover {
  border-bottom: 2px solid #C36F54;
  transition: ease-in-out 0.1s;
}

.homepage__navbarlinks span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  color: #C36F54;
}

.homepage__navbaraccount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 20%;
}

.homepage__navbaraccount a {
  color: white;
  text-decoration: none;
  font-family: Montserrat-Regular;
  font-weight: bold;
  padding: 0 2px;
  transition: ease-in-out 0.1s;
  color: #C36F54;
}

.homepage__navbaraccount a:hover {
  border-bottom: 2px solid #C36F54;
  transition: ease-in-out 0.1s;
}

.homepage__navbaraccount span {
  font-family: Montserrat-Regular;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 10px;
  color: #C36F54;
  text-align: center;
}

.homepage__selection {
  display: flex;
  justify-content: center;
  height: 370px;
  width: 100%;
  margin-top: 40px;
}

.homepage__selectwrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.homepage__menrings {
  display: flex;
  height: 100%;
  width: 28%;
  background-color: #f5f5f5;
}

.homepage__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  height: 100%;
}

.homepage__text span {
  text-align: center;
  font-family: Montserrat-Regular;
}

.homepage__text span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bolder;
}

.homepage__text a {
  text-decoration: none;
  margin-top: 50px;
  color: black;
  width: 80%;
  font-family: Montserrat-Regular;
  text-align: center;
  font-size: 0.9rem;
}

.homepage__pict {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
}

.homepage__pict img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.homepage__pendant {
  display: flex;
  height: 100%;
  width: 28%;
  background-color: #f5f5f5;
}

.homepage__earrings {
  display: flex;
  height: 100%;
  width: 28%;
  background-color: #f5f5f5;
}

.homepage__newproduct {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.homepage__newproductwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.homepage__newproducttitle {
  display: flex;
}

.homepage__newproducttitle span {
  font-size: 1.5rem;
  font-family: Montserrat-Regular;
  font-weight: bold;
}

.homepage__cardsblock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.homepage__cardproduct {
  border: 1px solid rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 350px;
  margin: 15px 12px;
}

.homepage__cardimg {
  display: flex;
  width: 100%;
  height: 75%;
}

.homepage__cardimg a {
  width: 100%;
  height: 100%;
}

.homepage__cardimg a img {
  width: 260px;
  height: 260px;
}

.homepage__cardinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 25%;
  padding: 7px;
}

.homepage__cardinfo img {
  width: 30%;
}

.homepage__cardinfo span {
  font-family: Montserrat-Regular;
}

.homepage__cardinfo span:nth-child(2) {
  font-weight: bold;
  font-size: 1.1rem;
}

.homepage__services {
  display: flex;
  justify-content: center;
  height: 150px;
  margin-top: 150px;
  background-color: #f5f5f5;
}

.homepage__serviceswrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.homepage__shipping {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__shippingimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__shippingimg img {
  width: 60px;
  height: 60px;
}

.homepage__shippingdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__shippingdesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__shippingdesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__save {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__saveimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__saveimg img {
  width: 60px;
  height: 60px;
}

.homepage__savedesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__savedesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__savedesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__support {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__supportimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__supportimg img {
  width: 60px;
  height: 60px;
}

.homepage__supportdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__supportdesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__supportdesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__back {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__backimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__backimg img {
  width: 60px;
  height: 60px;
}

.homepage__backdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__backdesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__backdesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-bottom: 30px;
}

.homepage__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 20px 0;
  width: 50%;
}

.homepage__subscribe span {
  color: white;
  font-size: 1.5rem;
  font-family: Montserrat-Regular;
}

.homepage__subscribe input {
  width: 450px;
  height: 30px;
  font-size: 1rem;
}

.homepage__subscribefield {
  display: flex;
}

.homepage__formsubscribe {
  display: flex;
}

.homepage__formsubscribe button {
  height: 100%;
  font-family: Montserrat-Regular;
  font-weight: bold;
}

