@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/assets/fonts/Montserrat-Regular.ttf");
}

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__describe {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.catalog__describe span {
  font-family: Montserrat-Regular;
  font-size: 1.7rem;
}

.catalog__catalogblock {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.catalog__catalogwrapper {
  border: 1px solid red;
  display: flex;
  width: 65%;
  height: 300px;
}

.catalog__catalogfilter {
  border: 1px solid red;
  display: flex;
  width: 25%;
}

.catalog__catalogcontent {
  border: 1px solid red;
  display: flex;
  width: 75%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.homepage__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.homepage__slider {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 100%;
  background-image: url("/public/assets/userssources/img/slider/03.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.homepage__navbar {
  display: flex;
  justify-content: center;
  height: 80px;
  box-shadow: 0 100px 30px -6px rgba(34, 60, 80, 0.2) inset;
}

.homepage__navbarmenu {
  display: flex;
  width: 65%;
}

.homepage__navbarmenu__xxl-block {
  background-color: green;
  width: 500px;
}

.homepage__navbarlogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 20%;
}

.homepage__navbarlogo a {
  display: flex;
  align-items: center;
  height: 100%;
}

.homepage__navbarlogo a img {
  height: 70%;
}

.homepage__navbarlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 60%;
}

.homepage__navbarlinks a {
  color: white;
  text-decoration: none;
  font-family: Montserrat-Regular;
  font-weight: bold;
  transition: ease-in-out 0.1s;
  color: #C36F54;
}

.homepage__navbarlinks a:hover {
  border-bottom: 2px solid #C36F54;
  transition: ease-in-out 0.1s;
}

.homepage__navbarlinks span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  color: #C36F54;
}

.homepage__navbaraccount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 20%;
}

.homepage__navbaraccount a {
  color: white;
  text-decoration: none;
  font-family: Montserrat-Regular;
  font-weight: bold;
  padding: 0 2px;
  transition: ease-in-out 0.1s;
  color: #C36F54;
}

.homepage__navbaraccount a:hover {
  border-bottom: 2px solid #C36F54;
  transition: ease-in-out 0.1s;
}

.homepage__selection {
  display: flex;
  justify-content: center;
  height: 370px;
  width: 100%;
  margin-top: 40px;
}

.homepage__selectwrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.homepage__menrings {
  display: flex;
  height: 100%;
  width: 28%;
  background-color: #f5f5f5;
}

.homepage__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50%;
  height: 100%;
}

.homepage__text span {
  text-align: center;
  font-family: Montserrat-Regular;
}

.homepage__text span:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bolder;
}

.homepage__text a {
  text-decoration: none;
  margin-top: 50px;
  color: black;
  width: 80%;
  font-family: Montserrat-Regular;
  text-align: center;
  font-size: 0.9rem;
}

.homepage__pict {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow: hidden;
}

.homepage__pict img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.homepage__pendant {
  display: flex;
  height: 100%;
  width: 28%;
  background-color: #f5f5f5;
}

.homepage__earrings {
  display: flex;
  height: 100%;
  width: 28%;
  background-color: #f5f5f5;
}

.homepage__newproduct {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.homepage__newproductwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.homepage__newproducttitle {
  display: flex;
}

.homepage__newproducttitle span {
  font-size: 1.5rem;
  font-family: Montserrat-Regular;
  font-weight: bold;
}

.homepage__cardsblock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.homepage__cardproduct {
  border: 1px solid rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 450px;
  margin: 15px 12px;
}

.homepage__cardimg {
  display: flex;
  width: 100%;
  height: 75%;
}

.homepage__cardimg a {
  width: 100%;
  height: 100%;
}

.homepage__cardimg a img {
  width: 100%;
  height: 100%;
}

.homepage__cardinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 25%;
  padding: 7px;
}

.homepage__cardinfo img {
  width: 30%;
}

.homepage__cardinfo span {
  font-family: Montserrat-Regular;
}

.homepage__cardinfo span:nth-child(3) {
  font-weight: bold;
  font-size: 1.1rem;
}

.homepage__services {
  display: flex;
  justify-content: center;
  height: 150px;
  margin-top: 150px;
  background-color: #f5f5f5;
}

.homepage__serviceswrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.homepage__shipping {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__shippingimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__shippingimg img {
  width: 60px;
  height: 60px;
}

.homepage__shippingdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__shippingdesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__shippingdesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__save {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__saveimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__saveimg img {
  width: 60px;
  height: 60px;
}

.homepage__savedesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__savedesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__savedesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__support {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__supportimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__supportimg img {
  width: 60px;
  height: 60px;
}

.homepage__supportdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__supportdesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__supportdesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__back {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.homepage__backimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.homepage__backimg img {
  width: 60px;
  height: 60px;
}

.homepage__backdesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage__backdesc span {
  text-align: center;
  margin: 5px 0;
  font-family: Montserrat-Regular;
  font-size: 0.9rem;
}

.homepage__backdesc span:nth-child(1) {
  font-weight: bold;
}

.homepage__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding-bottom: 30px;
}

.homepage__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 20px 0;
  width: 50%;
}

.homepage__subscribe span {
  color: white;
  font-size: 1.5rem;
  font-family: Montserrat-Regular;
}

.homepage__subscribe input {
  width: 450px;
  height: 30px;
  font-size: 1rem;
}

.homepage__subscribefield {
  display: flex;
}

.homepage__formsubscribe {
  display: flex;
}

.homepage__formsubscribe button {
  height: 100%;
  font-family: Montserrat-Regular;
  font-weight: bold;
}

